{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>All Expenses</h2>
    <span class='flex'></span>

    {{#paper-button iconButton=true onClick=(action 'prevMonth')}}
      {{paper-icon 'keyboard-arrow-left'}}
    {{/paper-button}}

    {{moment-format selectedMonth 'MMM \'YY'}}

    {{#paper-button iconButton=true onClick=(action 'nextMonth')}}
      {{paper-icon 'keyboard-arrow-right'}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class='flex page page--dark layout-column'>
  {{#each sortedExpenses as |expense|}}
    {{#link-to 'authenticated.expenses.expense' expense.id (query-params selectedExpenseMonth=selectedMonth)}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              {{expense.name}}
            {{/text.headline}}

            {{#text.subhead}}
              Due {{moment-format selectedMonth 'M'}}/{{expense.dueDay}}/{{moment-format selectedMonth 'YY'}}
            {{/text.subhead}}
          {{/title.text}}
        {{/card.title}}

        {{#card.content}}
          <p class='expense-remaining'>{{to-dollars expense.remainingDue}} remaining</p>

          <div class='layout-row layout-align-start-center expense-percentage'>
            {{paper-progress-linear primary=(gte expense.percentagePaid 100) accent=(lt expense.percentagePaid 100) class='expense-percentage-graph' value=expense.percentagePaid}}
            <span class='expense-percentage-text'>{{to-fixed expense.percentagePaid 0}}%</span>
          </div>
        {{/card.content}}
      {{/paper-card}}
    {{/link-to}}
  {{/each}}
</div>

{{#paper-button class='fab--primary' primary=true fab=true onClick=(action 'openExpenseDialog')}}
  {{paper-icon 'add'}}
{{/paper-button}}

{{#if newExpenseDialog}}
  {{#paper-dialog onClose=(action 'closeExpenseDialog' 'cancel')}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h3>Create Expense</h3>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{paper-input
        block=true
        class='transaction-input'
        label='Name'
        value=newExpenseName
        disabled=savingExpense
        onChange=(action (mut newExpenseName))
        required=true
        type='text'
      }}

      {{paper-input
        block=true
        class='transaction-input'
        disabled=savingExpense
        label='Amount Due'
        value=newExpenseAmount
        onChange=(action (mut newExpenseAmount))
        required=true
        type='number'
      }}

      {{paper-input
        block=true
        class='transaction-input'
        label='Due Date each Month'
        disabled=savingExpense
        value=newExpenseDay
        onChange=(action (mut newExpenseDay))
        required=true
        type='number'
      }}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
      {{#paper-button disabled=savingExpense onClick=(action 'closeExpenseDialog' 'cancel')}}
        Cancel
      {{/paper-button}}

      {{#paper-button disabled=saveExpenseDisabled onClick=(action 'closeExpenseDialog' 'ok')}}
        {{if savingExpense 'Creating...' 'Create'}}
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}