<div class='flex'>
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true onClick=(route-action 'goBack')}}
        {{paper-icon 'close'}}
      {{/paper-button}}

      <h2>
        {{budget.name}}
      </h2>

      <span class='flex'></span>

      {{#paper-menu as |menu|}}
        {{#menu.trigger}}
          {{#paper-button iconButton=true}}
            {{paper-icon 'more-vert'}}
          {{/paper-button}}
        {{/menu.trigger}}

        {{#menu.content width=2 as |content|}}
          {{#content.menu-item onClick='openEditDialog'}}
            <span>Edit</span>
          {{/content.menu-item}}

          {{#content.menu-item onClick='openDeleteDialog'}}
            <span>Delete</span>
          {{/content.menu-item}}
        {{/menu.content}}
      {{/paper-menu}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class='budget-balance layout-column layout-align-center-center {{if (lte budget.balance 0) "number--negative" "number--positive"}}'>
    {{to-dollars budget.balance}}
  </div>

  {{#paper-data-table as |table|}}
    {{#table.body as |body|}}
      {{#each sortedTransactions as |transaction|}}
        {{#body.row as |row|}}
          {{#row.cell}}
            {{moment-format transaction.date 'M/D/YY'}}
          {{/row.cell}}

          {{#row.cell}}
            {{transaction.memo}}
          {{/row.cell}}

          {{#row.cell numeric=true}}
            <span class={{if (lte transaction.amount 0) "number--negative" "number--positive"}}>{{to-dollars transaction.amount}}</span>
          {{/row.cell}}
        {{/body.row}}
      {{/each}}
    {{/table.body}}
  {{/paper-data-table}}

  {{#paper-button class='fab--primary' primary=true onClick=(action 'openTransactionDialog') raised=true fab=true}}
    {{paper-icon 'add'}}
  {{/paper-button}}

  {{#paper-button class='fab--secondary' accent=true fab=true onClick=(action 'transferFunds')}}
    {{paper-icon 'compare-arrows'}}
  {{/paper-button}}

  {{#if deleteDialog}}
    {{#paper-dialog onClose=(action 'closeDeleteDialog' 'cancel')}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h3>Delete Budget</h3>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <h2>Are you sure you want to delete your {{budget.name}} budget? This action cannot be undone.</h2>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
        {{#paper-button disabled=deletingBudget onClick=(action 'closeDeleteDialog' 'cancel')}}
          Cancel
        {{/paper-button}}

        {{#paper-button disabled=deletingBudget onClick=(action 'closeDeleteDialog' 'ok')}}
          {{if deletingBudget 'Deleting...' 'Delete'}}
        {{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-dialog}}
  {{/if}}

  {{#if transactionDialog}}
    {{#paper-dialog fullscreen=true onClose=(action 'closeTransactionDialog' 'cancel')}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h3>Spend Money</h3>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        {{paper-input
          block=true
          class='transaction-input'
          label='Amount'
          disabled=savingTransaction
          value=transactionAmount
          onChange=(action (mut transactionAmount))
          required=true
          type='number'
        }}

        {{paper-input
          block=true
          disabled=savingTransaction
          class='transaction-input'
          label='Memo'
          value=transactionMemo
          onChange=(action (mut transactionMemo))
        }}
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
        {{#paper-button disabled=savingTransaction onClick=(action 'closeTransactionDialog' 'cancel')}}
          Cancel
        {{/paper-button}}

        {{#paper-button disabled=(or (lte transactionAmount 0) savingTransaction) onClick=(action 'closeTransactionDialog' 'ok')}}
          {{if savingTransaction 'Spending...' 'Spend'}}
        {{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-dialog}}
  {{/if}}

  {{#if editDialog}}
    {{#paper-dialog}} 
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h3>Edit Budget</h3>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        {{paper-input
          block=true
          class='transaction-input'
          label='Name'
          value=budget.name
          disabled=savingEdit
          onChange=(action (mut budget.name))
          required=true
          type='text'
        }}
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
        {{#paper-button disabled=saveEditDisabled onClick=(action 'finishEditing')}}
          {{if savingEdit 'Updating...' 'Update'}}
        {{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-dialog}}
  {{/if}}

  {{#if transferDialog}}
    {{#paper-dialog fullscreen=true onClose=(action 'closeTransferDialog' 'cancel')}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h3>Transfer Funds</h3>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        {{paper-input
          block=true
          class='transaction-input'
          disabled=savingTransfer
          label='Amount'
          value=transferAmount
          onChange=(action (mut transferAmount))
          required=true
          type='number'
        }}

        <h1>From</h1>
        {{#paper-select
          disabled=savingTransfer
          label="Budget"
          class='transfer-select'
          options=allBudgetsSorted
          selected=transferFromBudget
          onChange=(action (mut transferFromBudget))
          as |fromBudget|}}
            <span class='select-option'>{{fromBudget.name}}</span>
        {{/paper-select}}   

        <div>
          {{#paper-button iconButton=true onClick=(action 'switchTransferBudgets')}}
            {{paper-icon 'swap-vert'}}
          {{/paper-button}}
        </div>

        <h1>To</h1>
        {{#paper-select
          disabled=savingTransfer
          label="Budget"
          class='transfer-select'
          options=allBudgetsSorted
          selected=transferToBudget
          onChange=(action (mut transferToBudget))
          as |toBudget|}}
            <span class='select-option'>{{toBudget.name}}</span>
        {{/paper-select}}   
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
        {{#paper-button disabled=savingTransfer onClick=(action 'closeTransferDialog' 'cancel')}}
          Cancel
        {{/paper-button}}

        {{#paper-button disabled=(or (or (lte transferAmount 0) savingTransfer) (eq selectedBudget null)) onClick=(action 'closeTransferDialog' 'ok')}}
          {{if savingTransfer 'Transferring...' 'Transfer'}}
        {{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-dialog}}
  {{/if}}
</div>