{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>All Budgets</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class='flex page page--dark layout-column'>
  {{#each sortedBudgets as |budget|}}
    {{#link-to 'budgets.budget' budget.id}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              {{budget.name}}
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}

        {{#card.content class='layout-row layout-align-center-center'}}
          <h1>{{to-dollars budget.balance}}</h1>
        {{/card.content}}
      {{/paper-card}}
    {{/link-to}}
  {{/each}}
</div>

{{#paper-button class='fab--primary' primary=true fab=true onClick=(action 'openBudgetDialog')}}
  {{paper-icon 'add'}}
{{/paper-button}}

{{#if newBudgetDialog}}
  {{#paper-dialog onClose=(action 'closeBudgetDialog' 'cancel')}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h3>Create Budget</h3>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{paper-input
        block=true
        class='transaction-input'
        disabled=savingBudget
        label='Name'
        value=newBudgetName
        onChange=(action (mut newBudgetName))
        required=true
        type='text'
      }}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
      {{#paper-button disabled=savingBudget onClick=(action 'closeBudgetDialog' 'cancel')}}
        Cancel
      {{/paper-button}}

      {{#paper-button disabled=(or (eq newBudgetName.length 0) savingBudget) onClick=(action 'closeBudgetDialog' 'ok')}}
        {{if savingBudget 'Creating...' 'Create'}}
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}