<div class='flex'>
  {{#paper-toolbar tall=editing accent=editing}}
    {{#paper-toolbar-tools}}
      {{#unless editing}}
        {{#paper-button iconButton=true onClick=(route-action 'goBack')}}
          {{paper-icon 'close'}}
        {{/paper-button}}

        <h2>
          {{expense.name}}
        </h2>
      {{/unless}}

      <span class='flex'></span>

      {{#unless editing}}
        {{#paper-menu as |menu|}}
          {{#menu.trigger}}
            {{#paper-button iconButton=true}}
              {{paper-icon 'more-vert'}}
            {{/paper-button}}
          {{/menu.trigger}}

          {{#menu.content width=2 as |content|}}
            {{#content.menu-item onClick='editExpense'}}
              <span>Edit</span>
            {{/content.menu-item}}

            {{#content.menu-item onClick='openDeleteDialog'}}
              <span>Delete</span>
            {{/content.menu-item}}
          {{/menu.content}}
        {{/paper-menu}}

      {{else}}
        {{#paper-button onClick='finishEditing'}}
          <span>Done</span>
        {{/paper-button}}
      {{/unless}}
    {{/paper-toolbar-tools}}

    {{#if editing}}
      <div class='layout-row layout-align-center-center'>
        {{paper-input
          block=true
          disabled=savingEdit
          value=expense.name
          onChange=(action (mut expense.name))
          required=true
        }}
      </div>
    {{/if}}
  {{/paper-toolbar}}

  <div class='expense-balance layout-column'> 
    <h1 class={{if (gt remainingDue 0) 'number--negative' 'number--positive'}}>Remaining: {{to-dollars remainingDue}}</h1>

    <h2>{{to-dollars expense.amount}} total due by {{moment-format selectedExpenseMonth 'M'}}/{{expense.dueDay}}/{{moment-format selectedExpenseMonth 'YY'}}</h2>

    <div class='layout-row layout-align-start-center expense-percentage'>
      {{paper-progress-linear primary=(gte amountPaid expense.amount) warn=(lt amountPaid expense.amount) class='expense-percentage-graph' value=percentagePaid}}
      <span class='expense-percentage-text'>{{to-fixed percentagePaid 0}}%</span>
    </div>
  </div>

  {{#paper-data-table as |table|}}
    {{#table.body as |body|}}
      {{#each sortedTransactions as |transaction|}}
        {{#body.row as |row|}}
          {{#row.cell}}
            {{moment-format transaction.date 'M/D/YY'}}
          {{/row.cell}}

          {{#row.cell}}
            {{transaction.memo}}
          {{/row.cell}}

          {{#row.cell numeric=true}}
            <span class={{if (lte transaction.amount 0) "number--negative" "number--positive"}}>{{to-dollars transaction.amount}}</span>
          {{/row.cell}}
        {{/body.row}}
      {{/each}}
    {{/table.body}}
  {{/paper-data-table}}

  {{#paper-button class='fab--primary' primary=true onClick=(action 'openTransactionDialog') raised=true fab=true}}
    {{paper-icon 'add'}}
  {{/paper-button}}

  {{#if deleteDialog}}
    {{#paper-dialog onClose=(action 'closeDeleteDialog' 'cancel')}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h3>Delete Budget</h3>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <h2>Are you sure you want to delete your {{budget.name}} budget? This action cannot be undone.</h2>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
        {{#paper-button disabled=deletingExpense onClick=(action 'closeDeleteDialog' 'cancel')}}
          Cancel
        {{/paper-button}}

        {{#paper-button disabled=deletingExpense onClick=(action 'closeDeleteDialog' 'ok')}}
          {{if deletingExpense 'Deleting...' 'Delete'}}
        {{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-dialog}}
  {{/if}}

  {{#if transactionDialog}}
    {{#paper-dialog fullscreen=true onClose=(action 'closeTransactionDialog' 'cancel')}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h3>Pay Expense</h3>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}            {{#body.row as |row|}}
              {{#row.cell}}
                Unallocated before:
              {{/row.cell}}

              {{#row.cell}}
                {{unallocated.balance}}
              {{/row.cell}}
            {{/body.row}}

      {{#paper-dialog-content}}
        <div class='layout-row layout-align-start-start'>
          {{paper-input
            block=true
            class='transaction-input'
            label='Amount'
            min=0
            max=remainingDue
            disabled=savingTransaction
            value=transactionAmount
            onChange=(action (mut transactionAmount))
            required=true
            type='number'
          }}
          {{#paper-button raised=true accent=true onClick=(action 'payRemaining')}}
            Remaining
          {{/paper-button}}
        </div>

        {{paper-input
          block=true
          disabled=savingTransaction
          class='transaction-input'
          label='Memo'
          value=transactionMemo
          onChange=(action (mut transactionMemo))
        }}

        {{#paper-data-table as |table|}}
          {{#table.body as |body|}}
            {{#body.row as |row|}}
              {{#row.cell}}
                Unallocated before:
              {{/row.cell}}

              {{#row.cell numeric=true}}
                {{to-dollars unallocated.balance}}
              {{/row.cell}}
            {{/body.row}}

            {{#body.row as |row|}}
              {{#row.cell}}
                Unallocated after:
              {{/row.cell}}

              {{#row.cell numeric=true}}
                {{to-dollars (minus-from unallocated.balance transactionAmount)}}
              {{/row.cell}}
            {{/body.row}}
          {{/table.body}}
        {{/paper-data-table}}
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
        {{#paper-button disabled=savingTransaction onClick=(action 'closeTransactionDialog' 'cancel')}}
          Cancel
        {{/paper-button}}

        {{#paper-button disabled=saveTransactionDisabled onClick=(action 'closeTransactionDialog' 'ok')}}
          {{if savingTransaction 'Paying...' 'Pay'}}
        {{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-dialog}}
  {{/if}}
</div>
