<div class='flex'>
  {{#paper-toolbar tall=editing accent=editing}}
    {{#paper-toolbar-tools}}
      {{#unless editing}}
        {{#paper-button iconButton=true onClick=(route-action 'goBack')}}
          {{paper-icon 'close'}}
        {{/paper-button}}

        <h2>
          {{expense.name}}
        </h2>
      {{/unless}}

      <span class='flex'></span>

      {{#unless editing}}
        {{#paper-menu as |menu|}}
          {{#menu.trigger}}
            {{#paper-button iconButton=true}}
              {{paper-icon 'more-vert'}}
            {{/paper-button}}
          {{/menu.trigger}}

          {{#menu.content width=2 as |content|}}
            {{#content.menu-item onClick='editExpense'}}
              <span>Edit</span>
            {{/content.menu-item}}

            {{#content.menu-item onClick='openDeleteDialog'}}
              <span>Delete</span>
            {{/content.menu-item}}
          {{/menu.content}}
        {{/paper-menu}}

      {{else}}
        {{#paper-button onClick='finishEditing'}}
          <span>Done</span>
        {{/paper-button}}
      {{/unless}}
    {{/paper-toolbar-tools}}

    {{#if editing}}
      <div class='layout-row layout-align-center-center'>
        {{paper-input
          block=true
          disabled=savingEdit
          value=expense.name
          onChange=(action (mut expense.name))
          required=true
        }}
      </div>
    {{/if}}
  {{/paper-toolbar}}

  <div class='expense-balance layout-column {{if (lte expense.remainingDue 0) "number--positive" "number--negative"}}'>
    <h1>{{to-dollars expense.remainingDue}}</h1>

    <h2>Due {{moment-format selectedExpenseMonth 'M'}}/{{expense.dueDay}}/{{moment-format selectedExpenseMonth 'YY'}}</h2>

    <div class='layout-row layout-align-start-center expense-percentage'>
      {{paper-progress-linear warn=true class='expense-percentage-graph' value=expense.percentagePaid}}
      <span class='expense-percentage-text'>{{expense.percentagePaid}}%</span>
    </div>
  </div>

  {{#paper-data-table as |table|}}
    {{#table.body as |body|}}
      {{#each sortedTransactions as |transaction|}}
        {{#body.row as |row|}}
          {{#row.cell}}
            {{moment-format transaction.date 'M/D/YY'}}
          {{/row.cell}}

          {{#row.cell}}
            {{transaction.memo}}
          {{/row.cell}}

          {{#row.cell numeric=true}}
            <span class={{if (lte transaction.amount 0) "number--negative" "number--positive"}}>{{to-dollars transaction.amount}}</span>
          {{/row.cell}}
        {{/body.row}}
      {{/each}}
    {{/table.body}}
  {{/paper-data-table}}

  {{#paper-button class='fab--primary' primary=true onClick=(action 'openTransactionDialog') raised=true fab=true}}
    {{paper-icon 'add'}}
  {{/paper-button}}

  {{#if deleteDialog}}
    {{#paper-dialog onClose=(action 'closeDeleteDialog' 'cancel')}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h3>Delete Budget</h3>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <h2>Are you sure you want to delete your {{budget.name}} budget? This action cannot be undone.</h2>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
        {{#paper-button disabled=deletingExpense onClick=(action 'closeDeleteDialog' 'cancel')}}
          Cancel
        {{/paper-button}}

        {{#paper-button disabled=deletingExpense onClick=(action 'closeDeleteDialog' 'ok')}}
          {{if deletingExpense 'Deleting...' 'Delete'}}
        {{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-dialog}}
  {{/if}}
</div>
