<header class='header row align-center justify-center'>
  <h1>Add Transaction</h1>
</header>

<div class='column flex scroll'>
  <div class='transaction-form'>
    <h1>Transaction amount</h1>
    <div class='row align-center justify-center'>${{input type='number' value=transactionAmount onChange=(action (mut transactionAmount))}}</div>
  </div>

  <div class='transaction-form'>
    <h1>Type</h1>
    
    <div class='column'>
      {{#radio-button
        classNames='text--negative'
        value='expense'
        groupValue=transactionType
        changed='transactionTypeChanged'}}
        Expense
      {{/radio-button}}

      {{#radio-button
        classNames='text--positive'
        value='income'
        groupValue=transactionType
        changed='transactionTypeChanged'}}
        Income
      {{/radio-button}}
    </div>
  </div>

  {{#if (eq transactionType 'expense')}}
    <div class='transaction-form'>
      <h1>Budget</h1>

      <select onchange={{action 'selectBudget' value='target.value'}}>
        {{#each sortedBudgets as |budgetChoice|}}
          <option value={{budgetChoice.id}} selected={{eq budgetChoice.id selectedBudgetId}}>{{budgetChoice.name}}</option>
        {{/each}}
      </select>
    </div>
  {{else}}
    <div class='transaction-form'>
      <h1>Expenses to pay</h1>

      <div class='column'>
        {{#each sortedExpenses as |expense|}}
          <div class='row align-center'>
            {{input type='checkbox' name=expense.id click=(action 'toggleExpense' expense.id) checked=(find-in selectedExpenses expense.id)}}
            <div class='column'>
              <span class='expense-info'>{{expense.name}}</span>
              <span class='expense-due'>{{to-dollars expense.amount}} - Due {{moment-format (now) 'M'}}/{{expense.dueDay}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <div class='transaction-form'>
    <h1>Memo</h1>
    <div>{{textarea value=transactionMemo onChange=(action (mut transactionMemo))}}</div>
  </div>

  <div class='transaction-form'>
    {{#if (eq transactionType 'income')}}
      <table>
        <tr>
          <td>Income</td>
          <td>{{to-dollars transactionAmount}}</td>
        </tr>
          <td>Expenses</td>
          <td>{{to-dollars expenseAmount}}</td>
        <tr>
          <td>Budget allocation</td>
          <td>{{to-dollars budgetAllocation}}</td>
        </tr>
        <tr>
          <td>Remaining</td>
          <td>{{to-dollars remainingIncome}}</td>
        </tr>
      </table>
    {{else}}
      <table>
        <tr>
          <td>Budget before</td>
          <td>{{to-dollars currentBudget}}</td>
        </tr>
        <tr>
          <td>Transaction amount</td>
          <td>{{to-dollars transactionAmount}}</td>
        </tr>
        <tr>
          <td>Budget remaining</td>
          <td>{{to-dollars remainingBudget}}</td>
        </tr>
      </table>
    {{/if}}
  </div>

  <div class='submit-button'>
    <button {{action 'submitTransaction'}} disabled={{lte transactionAmount 0}}>
      Submit
    </button>
  </div>
</div>