<div class='column overview-container align-center justify-center'>
  <p class='text--inverted'>Unallocated</p>
  <h1 class='budget-unallocated'>{{to-dollars unallocated.balance}}</h1>
</div>

{{#paper-data-table as |table|}}
  {{#table.body as |body|}}
    {{#each sortedTransactions as |transaction|}}
      {{#body.row as |row|}}
        {{#row.cell}}
          {{moment-format transaction.date 'M/D/YY'}}
        {{/row.cell}}

        {{#row.cell}}
          {{transaction.memo}}
        {{/row.cell}}

        {{#row.cell numeric=true}}
          <span class={{if (lte transaction.amount 0) "number--negative" "number--positive"}}>{{to-dollars transaction.amount}}</span>
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/paper-data-table}}

{{#paper-button class='fab--primary' primary=true fab=true onClick=(action 'addIncome')}}
  {{paper-icon 'add'}}
{{/paper-button}}

{{#paper-button class='fab--secondary' accent=true fab=true onClick=(action 'transferFunds')}}
  {{paper-icon 'compare-arrows'}}
{{/paper-button}}

{{#if incomeDialog}}
  {{#paper-dialog fullscreen=true onClose=(action 'closeIncomeDialog' 'cancel')}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h3>Add Income</h3>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{paper-input
        block=true
        class='transaction-input'
        label='Amount'
        disabled=savingIncome
        value=incomeAmount
        onChange=(action (mut incomeAmount))
        required=true
        type='number'
      }}

      {{paper-input
        block=true
        disabled=savingIncome
        class='transaction-input'
        label='Memo'
        value=incomeMemo
        onChange=(action (mut incomeMemo))
      }}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
      {{#paper-button disabled=savingIncome onClick=(action 'closeIncomeDialog' 'cancel')}}
        Cancel
      {{/paper-button}}

      {{#paper-button disabled=(or (lte incomeAmount 0) savingIncome) onClick=(action 'closeIncomeDialog' 'ok')}}
        {{if savingIncome 'Adding...' 'Add'}}
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}

{{#if transferDialog}}
  {{#paper-dialog fullscreen=true onClose=(action 'closeTransferDialog' 'cancel')}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h3>Transfer Funds</h3>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{paper-input
        block=true
        class='transaction-input'
        disabled=savingTransfer
        label='Amount'
        value=transferAmount
        onChange=(action (mut transferAmount))
        required=true
        type='number'
      }}

      {{#paper-select
        disabled=savingTransfer
        label="Budget"
        options=budgets
        selected=selectedBudget
        onChange=(action (mut selectedBudget))
        as |budget|}}
          {{budget.name}}
      {{/paper-select}}   
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class='layout-row layout-align-end-center'}}
      {{#paper-button disabled=savingTransfer onClick=(action 'closeTransferDialog' 'cancel')}}
        Cancel
      {{/paper-button}}

      {{#paper-button disabled=(or (or (lte transferAmount 0) savingTransfer) (eq selectedBudget null)) onClick=(action 'closeTransferDialog' 'ok')}}
        {{if savingTransfer 'Transferring...' 'Transfer'}}
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}